<%=
result = ''
Discourse.unofficial_plugins.each do |plugin|
  plugin_name = plugin.metadata.name
  
  if plugin_name == 'expeerience_custom_wizard' || CustomWizard::Field.require_assets[plugin_name]
    
    files = []
    
    plugin.each_globbed_asset do |f, is_dir|
      files.push(f) if f.include? "hbr"
    end
    
    Dir.glob("#{Rails.root}/app/assets/javascripts/discourse/app/templates/*.hbr").each do |f|
      files.push(f)
    end
    
    files.each do |f|
      name = File.basename(f, ".hbr")
      compiled = Barber::Precompiler.new().compile(File.read(f))
      result << "
        (function() {
          requirejs('discourse-common/lib/raw-templates').addRawTemplate(#{compiled});
        })();
      "
    end
    
    result << "
      (function() {
        window.__DISCOURSE_RAW_TEMPLATES = requirejs('discourse-common/lib/raw-templates').__DISCOURSE_RAW_TEMPLATES;
      })();
    "
  end
end
result
%>
