<html>
  <head>
    <%= discourse_color_scheme_stylesheets %>

    <%= discourse_stylesheet_link_tag :wizard, theme_id: nil %>
    <%= discourse_stylesheet_link_tag :wizard_custom %>
    <%- if wizard_theme_ids.present? %>
      <%= discourse_stylesheet_link_tag (mobile_view? ? :mobile_theme : :desktop_theme), theme_ids: wizard_theme_ids %>
    <%- end %>

    <%= preload_script "locales/#{I18n.locale}" %>
    <%= preload_script "ember_jquery" %>
    <%= preload_script "wizard-vendor" %>
    <%= preload_script "wizard-application" %>
    <%= preload_script "wizard-custom-globals" %>
    <%= preload_script "wizard-raw-templates" %>
    <%= preload_script "wizard-custom" %>
    <%= preload_script "wizard-plugin" %>
    <%= preload_script "pretty-text-bundle" %>
    <script src="<%= ExtraLocalesController.url("wizard") %>"></script>
    <%= csrf_meta_tags %>

    <%- unless customization_disabled? %>
      <%= theme_translations_lookup %>
      <%= raw wizard_theme_lookup("head_tag") %>
    <%- end %>

    <%= server_plugin_outlet "custom_wizard" %>

    <%= tag.meta id: 'data-discourse-setup', data: client_side_setup_data %>

    <meta name="discourse_theme_ids" content="<%= wizard_theme_ids&.join(",") %>">
    <meta name="discourse-base-uri" content="<%= Discourse.base_path %>">

    <%= render partial: "layouts/head" %>
    <title><%= wizard_page_title %></title>
  </head>

  <body class='custom-wizard'>
    <%- unless customization_disabled? %>
      <%= raw wizard_theme_lookup("header") %>
    <%- end %>

    <div id='custom-wizard-main' category_id='<%= params[:category_id] %>'></div>

    <%- unless customization_disabled? %>
      <%= raw wizard_theme_lookup("body_tag") %>
    <%- end %>

    <%- if current_user %>
      <%= preload_script 'wizard-custom-start' %>
    <%- else %>
      <%= preload_script 'wizard-custom-guest' %>
    <%- end %>

    <div id="svg-sprites" style="display:none;">
      <div class="fontawesome">
        <%= raw SvgSprite.bundle %>
      </div>
    </div>
  </body>
</html>
