<label class={{currentStateClass}}>
  {{#if currentState}}
    {{#if showValidationCategories}}
      {{html-safe (i18n currentStateKey catLinks=catLinks)}}
    {{else}}
      {{i18n currentStateKey}}
    {{/if}}
  {{/if}}
</label>

{{#if showSimilarTopics}}
  {{wizard-similar-topics topics=similarTopics}}
{{/if}}
