
{{#each field.content as |field|}}
    {{input value=field.name maxlength="255" placeholder=(i18n (concat "admin.wizard.api_call." field.id ".placholder"))}}
{{/each}}


{{d-button
  class="btn-primary"
  action=(action "submit")
  icon="plus"
  label="admin.wizard.api_call.submit_button"}}

{{error}}