{{#if showTopics}}
  <ul>
    {{#each topics as |topic|}}
      <li>{{wizard-similar-topic topic=topic}}</li>
    {{/each}}
  </ul>
{{else}}
  <a class="show-topics" {{action "toggleShowTopics"}}>
    {{i18n 'realtime_validations.similar_topics.show'}}
  </a>
{{/if}}