<label for={{field.id}} class="field-label">
  {{{field.label}}}
</label>

{{#if field.image}}
  <div class="field-image"><img src="{{field.image}}"></div>
{{/if}}

{{#if field.description}}
  <div class='field-description'>{{cookedDescription}}</div>
{{/if}}

{{#field-validators field=field as |validators|}}
  {{#if inputComponentName}}
    <div class='input-area'>
      {{component inputComponentName field=field step=step fieldClass=fieldClass wizard=wizard }}
    </div>
  {{/if}}
{{/field-validators}}

{{#if field.char_counter}}
  {{#if textType}}
    {{char-counter field.value field.max_length}}
  {{/if}}
{{/if}}

{{#if field.errorDescription}}
  <div class='field-error-description'>{{{field.errorDescription}}}</div>
{{/if}}
